*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{   
    background-color: rgb(0, 0, 0);
    /* background-color: rgb(2, 4, 29); */
}

/*TOPNAV*/
.topnav-container {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.navbar {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1400px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.logo img {
    width: 100px;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.links li {
    list-style: none;
    border-radius: 20px;
}
.links li a {
    text-decoration: none;
    color: white;
    padding: 1.50rem;
    display: block;

}
#activee1 {
    border-radius: 20px;
    color: rgb(2, 247, 255);
}
#activee2 {
    border-bottom: 4px solid rgb(2, 247, 255);
}
.links li:hover {
    color: rgb(2, 247, 255);
    border-bottom: 4px solid rgb(2, 247, 255);
    transition-duration: .3s;
}
.toggle-button {
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1000;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.nav-sidebar {
    display: none;  
}

/*MEDIA QUERIES FOR TOPNAV*/
@media (max-width: 900px) {
    .toggle-button {
        display: flex;
    }
    .links {
        display: none;
    }
    .nav-sidebar {
        display: flex;
        position: fixed;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0px;
        height: calc(100vh);
        padding: 0 20px;
        transition: all .3s ease-in-out;
        box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        backdrop-filter: blur(7px);
    }
    .nav-sidebar ul {
        visibility: hidden;
        padding: 0;
    }
    .nav-sidebar ul li a {
        color: rgb(255, 255, 255);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all .3s ease-in-out;
        text-decoration: none;
        text-shadow: 0 3px 3px rgb(0, 0, 0),0 3px 3px rgb(0, 0, 0);
    }
    .nav-sidebar ul li {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        border-radius: 20px;
    }
    .nav-sidebar li:hover {
        color: rgb(2, 247, 255);
        border-bottom: 4px solid rgb(2, 247, 255);
        transition: all .3s;
    }
}

/*MAIN-CONTENT*/


.index1-container {
    margin: 0;
    padding: 20px 10px;
}
.index1-container .wrapper {
    margin: 0 auto;
    padding: 10px;
}
.index-header{
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    letter-spacing: 10px;   
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 36px;
    margin: 0 auto;
    text-shadow: 0 0 7px rgb(2, 247, 255);
}
#mypic {
    color: white;
    margin: 0;
    padding: 0 0 18px;
    max-width: 100%;
    height: auto;
}
.wrapper p {    
    text-align: justify;
    padding: 0 0 16px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.index2-container {
    margin: 0;
    padding: 20px 10px;
}
.teammates {
    /*background-color: rgba(20, 159, 201, 0.459);*/
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#teammates{
    margin: 0;
    padding: 0 0 18px;
    max-width: 100%;
    height: auto;
}
.index2-container h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.index2-container p {
    margin: 0;
    padding: 0 0 9px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: yellow;
}
.index2-container .icons-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
.index2-container .icons-wrapper a img {
    margin: 0;
    padding: 5px;
    width: 40px;
    height: auto;
}
#icons a img{
    margin: 5px;
    width: auto;
    height: 35px;
}
.image-container {
    margin: 0;
    padding: 0;
}

/* FOOTER */

.footer-container{
    margin: 0px;
    padding: 30px 20px;
}
.footer-wrapper {
    margin: 0;
    padding: 60px 0;
    border-top: 2px solid rgb(114, 123, 128);
}
#footer_icons{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0 0 20px;
}
#footer_icons img{
    width: auto;
    height: 35px;
    margin: 0;
    padding: 0 7px;
}
#footer_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 16px;
}
.copyright-container {
    text-align: center;
    margin: 0;
    padding: 10px;
}
.copyright-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
#footer_desc p {
    text-align: center;
}
#footer_desc p a {
    color: rgb(2, 247, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#footer_desc a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}

/* MEDIA QUERIES FOR MAIN */

@media only screen and  (min-width: 1000px) {
            
    .index1-container {
        margin: auto;
        width: 1300px;
        padding: 40px 80px 60px;
    }
    .index-header{
        font-size: 50px;
    }
    #mypic {
        float: right;
        color: white;
        margin: 0;
        padding: 0 0 0 20px; 
        max-width: 50%;
        height: auto;
    }
    .desc {
        margin: 0;
        padding: 0;
        width: 50%;
    }
    .desc p {    
        text-align: left;
        padding: 0 0 18px;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .index2-container {
        margin: auto;
        width: 1350px;
        padding: 20px 10px;
    }
    .teammate-container {
      display: inline-block;
    
    }
    #teammates{
        margin: 0 25%;
        padding: 0 0 18px;
        width: 50%;
        height: auto;
    }
    .index2-container h1 {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color: white;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .index2-container .icons-wrapper {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

        /* FOOTER */

    .footer-container{
        display: flex;
        justify-content: center;
        padding: 30px 20px;
    }
    .footer-wrapper {
        width: 1200px;
        margin: 0;
        padding: 60px 0;
        border-top: 2px solid rgb(114, 123, 128);
    }
    #footer_icons img{
        width: 65px;
        height: auto;
        padding: 0 12px;
    }
}   
