*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url('/Images/pexels-drift-shutterbug-2085998.jpg');
    background-repeat:no-repeat;
    background-size: cover; 
}

/*TOPNAV*/
.topnav-container {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.navbar {
    margin: 0;
    padding: 10px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.logo-cont {
    display: block;
    width: 100%;
}
.logo img {
    float: right;
    width: 50px;
    height: auto;
    right: 0;
    padding-top: 3px;
    margin-right: 40px;    
}
.logo img:hover {
    transform: rotateY(360deg);
    transition: .4s ease-in-out;
}
.links ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}
.links li {
    list-style: none;
    border-radius: 15px;
    border-bottom: .1px solid rgba(2, 247, 255, 0);
}
.links li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 1.50rem;
    display: block;
}

/* DROPDOWNS */

.dropdown-content {
    margin-top: 3px;
    display: none;
    position: absolute;
    backdrop-filter: blur(3px);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.521);
    text-align: left;
    z-index: 1;
}

.dropdown-content a:hover {
    color: #101014;
    background-color:  #10101493;
}   

.dropdowns:hover > .dropdown-content {
    display: block;
}

.dropdowns.relative {
    position: relative;
}

.dropdowns .nested-dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0px;
}

  
#activee1 {
    color: rgb(2, 247, 255);
}
#activee2 {
    border-bottom: 3px solid rgb(2, 247, 255);
}
#activee3 {
    color: white;
}
#activee4 {
    color: rgb(2, 247, 255);
}
.links li:hover {
    color: rgb(2, 247, 255);
    border-bottom: 3px solid rgb(2, 247, 255);
    transition-duration: .1s;
}
.links li a:hover {
    color: rgb(2, 247, 255);
    transition-duration: .1s;
}

.side-bar {
    display: none;  
}
.menu-btn {
    display: none;
}
@media (max-width: 900px) {

    .toggle-button {
        display: flex;
    }
    .links {
        display: none;
    }
    .side-bar {
        display: block;
        background: #1c1c1c3d;
        backdrop-filter: blur(5px);
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        overflow-y: auto;
        transition: .6s ease;
        transition-property: right;
        z-index: 1;
    }
    .side-bar.active{
        right: 0;
    }
    .side-bar .menu{
        width: 100%;
        margin-top: 80px;
    }
    .side-bar .menu .item{
        position: relative; 
        cursor: pointer;
    }
    .side-bar .menu .item a{
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-decoration: none;
        display: block;
        padding: 5px 30px;
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 0 3px 20px rgba(0, 0, 0, 0.685), 0 3px 3px rgba(0, 0, 0, 0.719);
    }
    .side-bar .menu .item a:hover{
        background:rgb(12, 42, 82);
    }
    .side-bar .menu .item i{
        margin-right: 15px;
    }
    .side-bar .menu .item a .dropdown {
        position: absolute;
        right: 0;
        margin: 20px;
    }
    .side-bar .menu .item .sub-menu {
        /* background: rgba(255, 255, 255, .1); */
           background: #1c1c1c3d;
        display: none;
    }
    .side-bar .menu .item .sub-menu a{
        padding-left: 70px;
        font-size: 12px;
    }
    .side-bar .menu .item .sub-menu .sub-menu a{
        padding-left: 90px;
    }
    .rotate {
        transform: rotate(90deg);
    }
    .close-btn {
        position: absolute;
        color:#ffffff;
        font-size: 30px;
        left: 0;
        margin: 25px;
        cursor: pointer;
    }
    .menu-btn {
        display: block;
        position: absolute;
        right: 0;
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin: 25px;
        cursor: pointer;
    }
}


/*MAIN-CONTENT*/

.index1-container{
    margin: auto;
    display: block;
    max-width: 100%;
    margin: auto;
}
.pnw_nav {
    display: flex;
    background: #101010;
    width: 100%;
    padding-left: 70px;
}
.pnw_nav button{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    background: #101010;
    width: 200px;
}

.pnw_nav h2{
    color: #fff;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    align-self: center;
    text-align: left;
    width: 820px;
}
.pnw_nav h4{
    color: #fff;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    width: 700px;
    align-self: center;
    text-align: left;
}
 .main{
    display: flex;
    padding-left: 40px;
    padding-right: 10px;
    background: #fff;
    width: 100%;
    height: 100%;
}

#iframee {
    width: 100%;
    height: 100vh;
    border: none;
}
.rotate2 {
    transform: rotate(180deg);
    color: #ffffff;
}
.rotate3 {
    transform: rotate(180deg);
    color: #02f7ff;
}

/* DROPDOWN FOR LIST OF SONGS */
#dropdown-toggle-Songs {
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
}
#dropdown-toggle-Songs i{
    margin-left: 5px;
}

.dropdown-content-Songs {
    display: none;
    position: absolute;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    height: 50vh;
    margin-top: 5px;
    margin-left: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content-Songs a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
    margin-left: 25px;
    margin-right: 25px;
}

.dropdown-content-Songs a:hover {
    color: rgb(2, 247, 255);
    transition: .2s ease;
    background: #101010;
    border-radius: 5px;
}

.show {
    display: block; 
}

#Nsonglists {
    position: absolute;
    width: auto;
    height: 43vh;
    overflow-y: scroll;
}
  
/* DROPDOWN FOR SETLISTS */
#dropdown-toggle-Setlists {
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
}
  #dropdown-toggle-Setlists i{
    margin-left: 5px;
    }

  .dropdown-content-Setlists {
    display: none;
    position: absolute;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    height: 50vh;
    margin-top: 5px;
    margin-left: 730px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .dropdown-content-Setlists a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .dropdown-content-Setlists a:hover {
    color: rgb(2, 247, 255);
    transition: .2s ease;
    background: #101010;
    border-radius: 5px;
  }
  
  .show {
    display: block; 
  }
  #Nsetlists {
    position: absolute;
    width: auto;
    height: 43vh;
    overflow-y: scroll;
}
  
  
/* CSS FOR SEARCH SONGS INPUT */
.searchSongsContain{
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchSongsContain i{
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#searchSongsInput{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
    background: none;
    padding-left: 10px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
#searchSongsInput::placeholder{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
}
 
/* CSS FOR SEARCH Setlist INPUT */
.searchSetContain{
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchSetContain i{
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#searchSetInput{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
    background: none;
    padding-left: 10px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
#searchSetInput::placeholder{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
}



/* FOOTER */    

.footer-container{
    margin: 0px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}
.footer-wrapper {
    margin: 0;
    padding: 60px 0;
    border-top: 2px solid rgb(114, 123, 128);
    width: 1250px;
}
#footer_icons{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0 0 20px;
}
#footer_icons img{
    width: auto;
    height: 35px;
    margin: 0;
    padding: 0 7px;
}
#footer_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 14px;
}
.copyright-container {
    text-align: center;
    margin: 0;
    padding: 10px;
}
.copyright-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#footer_desc p {
    text-align: center;
}
#footer_desc p a {
    color: rgb(2, 247, 255);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#footer_desc a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}


/* MEDIA QUERIES FOR MAIN */
@media only screen and (max-width: 900px) {
    .index1-container{
        margin: auto;
        display: block;
        max-width: 100%;
        margin: auto;
    }
    .menu-btn {
        position: absolute;
        
    }
    .index1-container h4{
        font-size: 14px;
    }
    .main {
        padding: 0;
        margin: 0;
    }
    .pnw_nav {
        display: block;
        background: #10101091;
        width: 100%;
        padding-left: 30px;
        padding-bottom: 5px;
    }
    .pnw_nav button{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-right: 5px;
        background: rgba(2, 247, 255, 0.171);
        width: 30%;
        border-radius: 20px;
    }
    .pnw_nav h2{
        font-size: 17px;
        align-self: center;
        text-align: left;
        width: 100%;
        padding-top: 25px;
    }
    .pnw_nav h4{
        color: #fff;
        text-align: center;
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 14px;
        width: 100%;
        align-self: center;
        text-align: left;
    }
    .logo-cont {
        top: 20px;
        right: 0;
        display: none;
        position: absolute;
        width: 10px;
    }
    .logo img {
        width: 50px;
        height: auto;
        margin-right: 20px;

    }
    /* CSS FOR SEARCH SONGS INPUT */
    .searchSongsContain{
        width: 100%;
    }
    .dropdown-content-Songs {
        width: 250px;
        height: 50vh;
        margin-left: 10px;
      }
    .searchSongsContain i{
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #searchSongsInput{
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 14px;
        outline: none;
        border: none;
        background: none;
        padding-left: 10px;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #searchSongsInput::placeholder{
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 14px;
    }
    #Nsonglists {
        position: absolute;
        width: auto;
        height: 43vh;
        overflow-y: scroll;
    }
    .dropdown-content-Setlists {
        width: 250px;
        height: 50vh;
        margin-left: 70px;
    }
} 