*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

pre {
    white-space: pre-wrap;
    font-size: 18px;
    line-height: 1.5;
}

.chord {
    font-weight: bold;
    color: #ff0000;
}
